<%= form_for(@category) do |f| %>

  <div class="name">
  	<%= f.label :name%>
  	<%= f.text_field :name%>  	
  </div>
  <div class="description">
		<%= f.label :description %>
		<%= f.text_field :description %>		
  </div>
  <div class="image">
    <%= f.label :image %>
    <%= f.file_field :image, :class => "divider" %><br/> 
    <% if params[:action] == "edit" %>
      <%= image_tag @category.image.url(:medium) %>
      <p><%= check_box_tag("delete[#{@category.id}]",1) %>
      <span><strong>Delete image</strong></span></p>
    <% end %>       
  </div> 
  <div class="actions">
		<%= f.submit %>
  </div>
<% end %>
