<%= form_for(@product) do |f| %>

  <div class="product_name">
		<%= f.label :product_name %><br>
		<%= f.text_field :product_name %>
  </div>
  <div class="description">
		<%= f.label :description %><br>
		<%= f.text_field :description %>
  </div>
  <div class="category-id">
    <%= f.collection_select(:category_id, Category.order("name"), :id, :name) %>
  </div>  
  <div class="product-image">
		<%= f.label :product_image %><br>
    <%= f.file_field :product_image %>
  </div>
  <div class="price">
    <%= f.label :price %><br>
		<%= f.text_field :price %>
  </div>
  <div class="thumburl">
		<%= f.label :thumburl %><br>
		<%= f.url_field :thumburl %>
  </div>
  <div class="tax-rate">
    <%= f.label :tax_rate %><br>
    <%= f.text_field :tax_rate %>
  </div>  
  <div class="actions">
		<%= f.submit %>
  </div>
<% end %>