<div class="container"> 
  <div> 
    <h1>Listing products</h1>
    <%= link_to 'New Product', new_product_path, :class => "btn btn-primary"%>
  </div>
  <br/>
  <% @products.in_groups_of(3).each do |products| %>
    <% products.select! {|x| !x.nil?} %>
    <div class='row'>
      <% products.each do |product| %>
        <div class='col-md-4'>
          <div class="well text-center">
            <%= image_tag product.image.url(:thumb) %>
            <div class="caption">
              <h3 class="listing-name"><%= product.name %></h3>
              <p class="listing-description"><%= product.description %></p>
              <p class="listing-price"><%= number_to_currency(product.price) %></p>
              <p><span><%= link_to "Edit", edit_product_path(product.id), :class => "btn btn-xs btn-primary" %></span>
              <span><%= link_to "Delete", products_delete_path(:id => product.id), :class => "btn btn-xs btn-danger" %></span></p>
            </div>
            <p><%= render 'form_addtocart', locals: {product: product} %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>

</div>