<div class="container"> 
  <p>
    <strong>Product name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p> 
    <strong>Product Image</strong>
    <%= image_tag @product.image.url(:medium) %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%= render 'form_addtocart', locals: {product: @product} %>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>